 


.carousel-caption-left,
.carousel-caption-right {
  text-align: left;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  bottom: auto;

}

.carousel-caption-left {
  right: 50% !important;
  left: 40px !important;
}

.carousel-caption-right {
  left: 50% !important;
  right: 40px !important;
}

.carousel-caption-center {
  top: 50%;
transform: translateY(-50%);
bottom: initial;

  color: white !important;
  position: absolute;
}

/* <!--team section --> */
.ourTeam-box {
  border-radius: 2px;
  border-top: 6px solid #5DDDD3;
  margin: 0px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.section1 {
  padding: 30px 0px 30px 0px;
}

.section1 img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.section2 p {
  font-weight: bold;
  color: #5DDDD3;
  letter-spacing: 1px;
}

.section2 span {
  color: #979597;
}

.section3 {
  background-color: #5DDDD3;
}

.section3 i {
  color: #ffffff !important;
  padding: 15px;
  font-size: 15px;
}

.section-info {
  border-top: 6px solid #7c8796;
}

.section-info p {
  color: #7c8796;
}

.section-info .section3 {
  background-color: #7c8796;
}

.section-danger {
  border-top: 6px solid #FD8469;
}

.section-danger p {
  color: #FD8469;
}

.section-danger .section3 {
  background-color: #FD8469;
}
.carousel-caption h1{
  font-size: 2.75rem;
  font-weight: 600;
  padding-top: 50px;
   
 }
 .carousel-caption h2{
  font-size:2.5rem ;
  font-weight:600;
  
}
/* .carousel-caption-center
{
  right:-23% !important;
  left:50% !important;
  top:55% !important;
}
  */

@media only screen and (max-width: 575px) {
  .carousel-caption-left {
    right: 0% !important;
    left: 0px !important;
  }
  .carousel-caption-left h2,.carousel-caption-right h2
  {
    text-align: center !important;
  }
  .carousel-caption-center h2
  {
    text-align: center !important;
  }
  .carousel-caption-right {
    left: 0% !important;
    right: 0px !important;
  }
  .carousel-caption h2{
    font-size:1.55rem !important;
    font-weight:600;
    color:#dddddd;
  }
  .main
  {
    font-size:0.9em;
    font-weight:700;
  }
  .carousel-item {
    height: 250px;
}

 
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 40px 10px 10px 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 60%;
  background-color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
  
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 40px 10px 10px 10px;
  background-color: #FD8469;
}

  
}