body{
    margin:0;
    padding:0;
    font-size:calc(15px+0.5vw);
    line-height: calc(21px+0.6vw);
    background:white;
    color:#333;

}
h1{
    font-size:1.6em;
    line-height:calc(30px+1vw); 
}
h2{
    font-size:1.4em;
    line-height:calc(26px+1vw);
}
h3{
    font-size:1.2em;
    line-height:calc(24px+1vw);
}
h4{
    font-size:1em;
    line-height:calc(22px+1vw);
}
h5{
    font-size:18px;
    line-height:calc(20px+1vw);
}
h1,h2,h3,h4,h5
{
    margin:0 0 calc(16px+1vw) 0;
    text-transform:capitalize;
    font-weight: 700;
}
p
{
    font-size:calc(14px+1vw);
    line-height:calc(14pxw+1vw);
}
.top_bar
{
    background:white;
    
    padding:1em 0 1em 0 ;
}
.icon i{
    font-size:1.5em;
    color:red;
}

/***navbars***/
navbar-dark .navbar-toggler {
    outline: none;
    border: none;
}
/* style icon-bar*/
.navbar-toggler span {
    display: block;
    background-color: white;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}
/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}
/* Before Collapse */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}
/* After Collapse */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}