@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');
 
html { font-size: 100%; overflow-x: hidden; width: 100%; margin: 0px; padding: 0px; touch-action: manipulation;}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {    font-size:calc(15px+0.5vw);  font-family: 'Fira Sans', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400; -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; word-wrap: break-word;
        overflow-x: hidden; color: #333;position:relative; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { line-height: 1.5; font-weight: inherit; }

h1, h2, h3, .font-beyond { font-family: 'Fira Sans';}

p { line-height: 1.7; font-size: 1.05em; font-weight: 400; color: #555; }

h1{
  font-size:1.6em;
  line-height:calc(30px+1vw); 
}
h2{
  font-size:1.4em;
  line-height:calc(26px+1vw);
}
h3{
  font-size:1.2em;
  line-height:calc(24px+1vw);
}
h4{
  font-size:1em;
  line-height:calc(22px+1vw);
}
h5{
  font-size:18px;
  line-height:calc(20px+1vw);
}
h6{
  font-size:16px;
  font-weight:800;
  line-height:calc(18px+1vw);
}
h1,h2,h3,h4,h5
{
  margin:0 0 calc(16px+1vw) 0;
  
  font-weight: 700;
}
p
{
  font-size:calc(14px+1vw);
  line-height:calc(14pxw+1vw);
}

 

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover { text-decoration: none; color: #EF0031;}

b {  font-weight: 700; }

img { width: 100%;}

 

span { display: inline-block; }

button { outline: 0; border: 0; background: none; cursor: pointer; }

.icon { font-size: 1.1em;display: inline-block;line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before { line-height: inherit; }

b.max-bold { font-weight: 700; }

input:focus,
textarea:focus { outline-color: #EF0031; }

::placeholder { color: #aaa; font-weight: 700; }

:-ms-input-placeholder { color: #aaa; font-weight: 700; }

:-ms-input-placeholder { color: #aaa; font-weight: 700; }

.card { border-radius: 0px; border: 0px; background: none; box-shadow: none; }

.card .bg-white {
        height: 100%;
        border-radius: 2px;
        box-shadow: 1px 1px 20px -10px rgba(0, 0, 0, .3);
}
.card h4
{
  color:white;
}
.card i { font-size: 1.2em;}

.bg-lightgrey
{
  background-color:#bbb;
  color:white;
}
.bg-lightred
{
  background-color:#f36c70;
  color:white;
}
.color-lightred
{
  color:#f36c70 !important;
}

/* RESPONSIVE */

@media only screen and (max-width: 1200px) {

    h1 { font-size: 6em; }
}

@media only screen and (max-width: 767px) {

    p {  line-height: 1.4;  }

    .img-gradient:after {
      content:'';
      position:absolute;
      right:0; top:0;
      width:100%; height:100%;
      display:inline-block;
      
    }
 
.carousel-caption h1 {
    font-size: 1.5rem;
    font-weight: 600;
}  

    h2 { font-size: 1.5em; }
}


/***PRE-LOADER CSS***/
@keyframes loaderpulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  @keyframes loaderspin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @-webkit-keyframes loaderspin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  #pre-load {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    z-index: 9999;
  }
  .loader .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 5px solid #ebebec;
    border-radius: 50%;
  }
  .loader .loader-container:before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-top: 4px solid #f00c46;
    border-radius: 50%;
    animation: loaderspin 1.8s infinite ease-in-out;
    -webkit-animation: loaderspin 1.8s infinite ease-in-out;
  }
  .loader .loader-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    text-align: center;
  }
  .loader .loader-icon img {
    animation: loaderpulse alternate 900ms infinite;
    width: 50px;
  }
  .color_fa
  {
    color: #f36c70;
  }
  /****header *****/
  .ar-header-top {
    background-color: #383838;
    padding: 11px 0;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.ct-header-branding {
    margin: 15px;
    position: relative;
    flex-grow: 1;
    opacity: 1;
}

.ct-header-holder {
    margin: 15px;
    display: flex;
}

.ct-header-holder .ct-header-info-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}

.h-item-icon {
    line-height: 1;
}

.ct-header-holder .ct-header-info-item i {
    font-size: 33px;
    margin-right: 12px;
}

.icon {
    font-size: 24px;
    color: #f36c70;
}
.fa-envelope
{
  font-size: 24px;
    color: #f36c70;
}
.ct-header-info-item .h-item-meta {
    font-size: 15px;
    color: #1a1a1a;
}

.ct-header-holder .ct-header-info-item+.ct-header-info-item:before {
    content: '';
    width: 1px;
    height: 38px;
    background-color: #bababa;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.ct-header-holder .ct-header-info-item .h-item-meta label {
    line-height: 20px;
    font-weight: 600;
}

.ct-header-holder .ct-header-info-item {
    margin-left: 35px;
    padding-left: 35px;
    position: relative;
}

.ct-header-holder .ct-header-info-item .h-item-meta span {
    display: block;
    line-height: 24px;
    font-weight: 300;
}

.header-main-bg {
    background-color: black;
    color: white;
}

.header-main-bgscroll {
    background-color: white;
    color: black;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.nav-link
{
  font-size:1.05rem !important;
}
.header-main-bg ul>li>a {
    color: white;
}

.header-main-bgscroll ul>li>a {
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    color: white;
}

.bar  {
    padding: 16px 13px 16px;
   
    max-width: 50px;
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 2px; */
    padding-right: 0;
    margin-right: -4px;
}
.closebtn
{
  max-width: 50px;
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 2px; */
    padding-right: 0;
    margin-right: -4px;
    color:#e89999;
}

.dot {
  background: #e89999;
    height: 5px;
    width: 5px;
    display: block;
    
    border-radius: 50%;
    transition: none;
    list-style: none;
    transition: all 0.3s ease;
    margin: 2px 3px;
}

.dot1 {
    height: 5px;
    width: 5px;
    display: block;
    background: white;
    border-radius: 50%;
    transition: none;
    list-style: none;
    transition: all 0.3s ease;
    margin: 2px 3px;
}

    /****header *****/

/**bootstrap carousel***/

 
  

.img-gradient{
  position:relative;
  display:inline-block;
}
.img-gradient:after {
  content:'';
  position:absolute;
  right:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(75deg,rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* IE10+ */
  background: linear-gradient(75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img{
  display:block;
}
.img-gradient1:after {
  content:'';
  position:absolute;
  right:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(-75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-75deg,rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* IE10+ */
  background: linear-gradient(-75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
 
/* .carousel-caption 
{
  position:absolute;
   margin:0px auto;
  width:50%;
  top:55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
   
} */
/* .caption-left
{
  margin-left:-80px;
  text-align:left !important;
}
.caption-right
{
margin-right:-100px;
text-align:right !important;
} */
.slider ,.top-content
{
  position:relative;
}
.carousel-item .before
{
  content:"";    
}
.carousel-caption-description p{
  font-size:1.05rem;
  color:white;
}
    /**bootstrap carousel***/
/***slick slider css***/

 .slideshow__slides
 {
   width:100%;
 }
       

        .parent_div,
        .parent_div1,
        parent_div2,
        .parent_div3 {
            width: 100vw;
            height: 100vh;

            display: flex;
            justify-content: center;
            align-items: center;
        }
/**rgba(238, 46, 52, 0.5)**/
        .child_div {
          height: 868px;
    max-height: 868px;
    margin-top: 0px;
    margin-bottom: 0px;
            /* width: 100vw;
            height: 100vh; */
            background-image: linear-gradient(75deg, rgba(0, 0, 0, 0.5) 100%, transparent 100%), url("../Images/Headerimages/bgeng1.jpg");
            background-size: 100% 100%;
            background-attachment: fixed;
            box-shadow: 0 10px 20px -6px;
            position: relative;
        } 

        .child_div1 {
            width: 100vw;
            height: 100vh;
            background-image: linear-gradient(75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%), url("../Images/slider/SI.jpg");
            background-size: 100% 100%;
            background-attachment: fixed;
            box-shadow: 0 10px 20px -6px;
            position: relative;
        }

        .child_div2 {
            width: 100vw;
            height: 100vh;
            background-image: linear-gradient(75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%), url("../Images/slider/solarpower.jpg");
            background-size: 100% 100%;
            background-attachment: fixed;
            box-shadow: 0 10px 20px -6px;
            position: relative;
        }

        .child_div3 {
            width: 100vw;
            height: 100vh;
            background-image: linear-gradient(75deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%), url("../Images/slider/tfm.jpg");
            background-size: 100% 100%;
            box-shadow: 0 10px 20px -6px;
            background-attachment: fixed;
            position: relative;
        }

        .child_div .content {
            width: 100vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
             
            color: white !important;
            position: absolute;
        }

        .child_div1 .content1,
        .child_div2 .content2,
        .child_div3 .content3 {
            top: 25%;
            width: 50vw;
            padding: 1.25rem;
            color: white !important;
            position: absolute;
        }

        .content h1 {
            font-size: 4rem;
        }

        .content1 h1,
        .content2 h1,
        .content3 h1 {
            font-size: 3.25rem !important;
        }

        .content1 p,
        .content2 p,
        .content3 p {
            font-size: 1.5rem !important;
            color:white !important;
        }
        .slick-slide {
          width: 100vw;
      }
     
/***slick slider css***/
/**banner section **/
.jumbotron
{
  color: #fff;
  height: 450px !important;
  animation: shrink 20s infinite alternate;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.service_banner {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("/Images/Headerimages/header2.jpg");


}
.SI_banner {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("/Images/Headerimages/SI.jpg");


}
.Solar_banner
{
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("/Images/Headerimages/solarpower.jpg");
}
.tfm_banner
{
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("/Images/Headerimages/tfm.jpg");
}
.parking_banner
{
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("/Images/Headerimages/parkingheader.jpg");
}
.service_banner h1,.SI_banner h1,.Solar_banner h1,.parking_banner h1,.tfm_banner h1{
font-size:3em !important;
}
@keyframes shrink {
0% {
  background-size: 110% 110%;
}
100% {
  background-size: 100% 100%;
}
}


.banner 
{
  position: relative;
   
  overflow-x: hidden;
}
.overlay {
  height: 80%;
  width: 100%;
  left:0;
  top:20%;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  /* background: linear-gradient(#f6f2f2, #d9d9d9); */
  background: linear-gradient(#ADA996,#F2F2F2,#DBDBDB, #EAEAEA);
}
.banner-content {
    font-family:'Fira Sans';
  position: absolute;
   z-index:1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
 height:50vh;
}
.banner-content h1{
text-align: center;
vertical-align: middle;
line-height: 110px;
  font-weight:700;
  font-size: 60px !important;
  color:#ddd;
}
.banner-content h1 span

{
margin-top:20px;
background:rgba(0, 0, 0, 0.6);
}
@keyframes zoomin {
  0% { transform: scale(1.5, 1.5) }
  50% { transform: scale(1, 1) }
  100% { transform: scale(1.5, 1.5) }
}
.fadeInClass {
  animation: 20s ease 0s normal none infinite running zoomin;
  -webkit-animation: 20s ease 0s normal none infinite running zoomin;
  -o-animation: 20s ease 0s normal none infinite running zoomin;
  -moz--o-animation: 20s ease 0s normal none infinite running zoomin;
}
.img-content img {
 width:100%; 
 height:70vh;
 position: relative;
  
}
/***about us ***/
.btn:hover, .btn:focus, .btn.active {background: #f36c70;color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  
  }
.aboutus-section
{
    background-image: url(https://demo.casethemes.net/consultio-corporate2/wp-content/uploads/2020/04/h14-bg-section-01.jpg);
    background-position: center center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 95px 0px 95px 0px;
    position:relative;
}
.aboutus-section:before {
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
     
  }
 
 
.ct-banner2 .ct-banner-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 47px;
    right: 71px;
    background: -webkit-linear-gradient(#858789, #bbb);
    -webkit-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    -khtml-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    -moz-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    -ms-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    -o-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    z-index: -1;
}
.ct-banner2 .ct-banner-image
{
    padding-left: 47px;
    padding-top: 47px;
    position: relative;
    z-index: 1;
}
.ct-banner2 .ct-banner-holder:before {
    content: '';
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    height: 100%;
    -webkit-border-radius: 30px 30px 0 0;
    -khtml-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
    background: -webkit-linear-gradient(#858789, #bbb);
    -webkit-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    -khtml-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    -moz-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    -ms-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    -o-box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    box-shadow: 0 0 79px rgba(0,0,0,.45)inset;
    z-index: -2;
}
.ct-banner2 .ct-banner-icon img {
     
    padding-right:10px;
    width:60px;
}
.ct-banner2 .ct-banner-holder {
    display: flex;
    flex-wrap: nowrap;
    padding: 25px 27px 25px;
    background-color: #fff;
    -webkit-border-radius: 30px 30px 0 0;
    -khtml-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
    margin-right: 40px;
    margin-left: 30px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 8px 65px rgb(12 12 12 / 19%);
    -khtml-box-shadow: 0 8px 65px rgba(12,12,12,.19);
    -moz-box-shadow: 0 8px 65px rgba(12,12,12,.19);
    -ms-box-shadow: 0 8px 65px rgba(12,12,12,.19);
    -o-box-shadow: 0 8px 65px rgba(12,12,12,.19);
    box-shadow: 0 8px 65px rgb(12 12 12 / 19%);
}
.ct-banner2  .ct-banner-holder {
    margin-top: -90px;
}
.ct-banner2 .ct-banner-holder:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-border-radius: 30px 30px 0 0;
    -khtml-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
}
.ct-banner-title
{
    font-size:1.5rem ;
}
.style6
{
    padding-right: 50px !important;
    position: relative;
    color: red !important;
    font-weight: 700;
    margin-bottom: 10px;
}
/**ee2e34**/
.sub-title
{
    font-weight: 600;
    display: inline-block;
    color: #f36c70;
}
/* .item--title
{
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 0px;
} */
 /* .heading{
     font-size:20px;
     color: #f36c70;
     font-weight: 600;
     
 }
.heading:before {
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    background: #f36c70;
    left: 19%;
    top: 3%;
    position: absolute;
  } */

/*** about us****/
/***counter***/
.item--title {
  color: #FFFFFF;
  font-size: 32px;
  margin-bottom: 28px;
}
.counter
{
  /* background-image: url("../Images/Pages/bg-counter-section.jpg"); */
  background: linear-gradient(rgba(34, 52, 80, 0.9), rgba(34, 52, 80, 0.7)), url("../Images/Pages/bg-counter-section.jpg");
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ct-heading-divider span
{
  width: 140px;
  height: 2px;
  margin-top:20px;
 
    background-image: -webkit-gradient(linear,left top,right top,from(#be2429),to(#f36c70));
  background-image: -webkit-linear-gradient(left,#be2429,#f36c70);
  background-image: -moz-linear-gradient(left,#be2429,#f36c70);
  background-image: -ms-linear-gradient(left,#be2429,#f36c70);
  background-image: -o-linear-gradient(left,#be2429,#f36c70);
  background-image: linear-gradient(left,#be2429,#f36c70);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#be2429',endColorStr='#f36c70',gradientType='1');  
  display: inline-block;
  vertical-align: top;

}
.ct-info
{
  padding: 0% 29% 0% 28%;
  font-size: 18px;
  line-height: 26px
}
.counter-icon

{
  margin-bottom:20px;
}
.counter-icon img
{
  width:74px  ;
  height:74px  ;

}
.rs-count,.plus
{
  font-size:52px;

}
.counter-part
{
  font-size:20px;
}
.content-part
{
  color:white;
}
.rs-count,.plus
{
   
  background: -webkit-linear-gradient(#f36c70, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
/**counter***/
/****All Services section****/
.btnclass
{
  background: #f36c70 !important;
  color: #fff !important;
}
 
 .service_section .card-title
 {
   font-size:1.2em !important;

 }
.servicessection
{padding:70px 0px 70px 0px;
    background:#fff;
height:auto;
color:#5d5d5d;}
.services1 .card
{
  box-shadow:3px 0px 5px 6px #ccc;
  padding:20px;
}
.card-title
{
  font-size:1.25em;
  font-weight:600;
}
.services-section
{
    padding:70px 0px 0px 0px;
}
.title-heading
{
    color:#333;
}
/* .service-left .service-icon
{
    margin-left:500px;
} */
.services-text-left h4,.services-text-left p
{
    text-align:right;
}
.services-text-right h4,.services-text-left p
{
    text-align:left;
}
.service-icon
{
    background:silver;
    padding:20px;
    border-radius:100%;
    color:black;
    text-align:center;
    align-content: center;
    width:50%;
}
.servicessection .list-items
{
    list-style: none;
}
.list-wrapper
{
    display:flex;
    margin-bottom:30px; 
    align-items: flex-start;
}
.icon-outer 
{
    border-radius:100%;
    /* padding:10px; */
    margin-right: 23px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    box-sizing: content-box;

    
    
}
.icon-wrapper
{
    border-radius:100%;
   
    width: 65px;
     height: 65px;
     line-height: 1;
position: relative;
z-index: 1;
}
.icon-outer-color1
{
    background-color: #f3a712;
}
.icon-outer-color2
{
    background-color: #d83030;
}
.icon-outer-color3
{
    background-color: #235789;
}
 
.list-icon
{
    font-size: 17px;
    font-weight: 700;
    line-height: 33px;
    height: 33px;
    width: 33px;
    color: #fff;
    text-align: center;

    
}
.list-icon .img1
{
    width:57px;
    padding-top: 10px;
    padding-left: 6px;
}
.list-icon .img2 {
    width: 57px;
    padding: 11px 10px 10px 15px;
    /* padding: 5px 10px 10px 10px; */
}
.fas
{
    font-size:30px;
    padding:15px;
}
/* .service-icon::after {
    content: '';
    border-left: 1px dotted #fff;
    height: 1500px;
    top: 14px;
    right: calc(7px - (1px/2));
    position: absolute;
    width: 1px;
} */

.list-title
{
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom:4px;
    color:black;
}
/**team section **/
.our-team {
  border-radius: 15px;
  text-align: center;
  padding: 20px 15px 30px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.our-team .pic {
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  display: inline-block;
  width: 50%;
  height: 50%;
  transition: all 0.5s ease 0s;
}

.our-team:hover .pic {
  background: #f36c70;
  border-radius: 50%;
  cursor: pointer;
}

.pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.our-team .title {
  font-weight: 600;
  color: #2e282a;
  text-transform: uppercase;
  display: block;
  font-size: 0.95rem;
  margin: 0 0 7px 0;
}

.our-team .post {
  color: #ee2e34;
  text-transform: capitalize;
  display: block;
  font-size: 0.75rem;
  font-weight:700;
  margin-bottom: 15px;
}

.our-team .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.our-team .social li {
  display: inline-block;
  margin-right: 5px;
}

.our-team .social li a {
  border-radius: 50%;
  font-size: 15px;
  color: #ee2e34;
  border: 1px solid #ee2e34;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social li a {
  background: #ee2e34;
  color: #fff;
}

.teamsection {
  /* background: #e3e3e3; */
  background:white;
  

}

.teamsection .our-team {
  margin: 40px;
}
@media (max-width: 767px) {
  /*   .title-heading
  {
    font-size:1.5rem !important;
  } */
}
.heading{
  font-size:30px;
  color: #f36c70;
  font-weight: 600;
  position:relative;
   
   
}
/* .title-heading {
  font-size: 1.2rem !important;
  font-weight: 600;
} */
/* .heading:after {
 content: "";
 display: block;
 width: 100px;
 height: 2px;
 background: #f36c70;
 right: 0;
 top: 50%;
 position: absolute;
}
.heading:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #f36c70;
  left: 0;
  top: 50%;
  position: absolute;
} */
.title-heading
{
  font-size:2rem !important;
}
.title-desc
{
  font-size:1.25rem !important;
}
.services h4
{
  color: white !important;
}
h4 {
   
   
  color: #f36c70;
  padding-top:10px;
  font-size: 18px;
  max-width: 300px;
  position: relative;
}
/* h4:before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background: #f36c70;
  left: 0;
  top: 50%;
  position: absolute;
}
h4:after {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background: #f36c70;
  right: 0;
  top: 50%;
  position: absolute;
} */
.card{
    padding:20px 0px;
}
.services .card img
{
    
    align-items: center;
    vertical-align: middle;
   
}
.services .card:hover
{
  cursor:pointer;
}
.services h3
{
    font-size:1rem;
    font-weight:600;
    padding-bottom:1rem;
    color:#f36c70;
}
.services p
{
  text-align: left;
  font-size:1em;
  color:#333;
  line-height: 1.4;
 
  
}
.services .card .img1
{
    width:120px;padding:20px 20px 30px 20px;
}
.services .card .img2
{
    width:100px;
    padding:30px 20px 40px 20px;
}
/* .services .card::before 
{
  content: '';
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7c8796;
  background-image: -webkit-gradient(linear,left top,right top,from(#7c8796),to(#b0b7c0 ));
  background-image: -webkit-linear-gradient(left,#7c8796,#b0b7c0 );
  background-image: -moz-linear-gradient(left,#7c8796,#b0b7c0 );
  background-image: -ms-linear-gradient(left,#7c8796,#b0b7c0 );
  background-image: -o-linear-gradient(left,#7c8796,#b0b7c0 );
  background-image: linear-gradient(left,#7c8796,#b0b7c0 );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b0b7c0 ',endColorStr='#b0b7c0 ',gradientType='1');
} */
/* .services .card::after
{
  content: '';
  height: 3px;
  position: absolute;
  top: 360px;
  left: 0;
  width: 100%;
  background-color: #7c8796;
  background-image: -webkit-gradient(linear,left top,right top,from(#7c8796),to(#b0b7c0 ));
  background-image: -webkit-linear-gradient(left,#7c8796,#b0b7c0 );
  background-image: -moz-linear-gradient(left,#7c8796,#b0b7c0 );
  background-image: -ms-linear-gradient(left,#7c8796,#b0b7c0 );
  background-image: -o-linear-gradient(left,#7c8796,#b0b7c0 );
  background-image: linear-gradient(left,#7c8796,#b0b7c0 );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b0b7c0 ',endColorStr='#b0b7c0 ',gradientType='1');
} */
.card-overlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

}
.card-overlay1 {
  
  background: url("../Images/Divisions/SI1.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  padding:10px;
}
.card-overlay2 {
  
  background: url("../Images/Divisions/Solar.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  padding:10px;
}
.card-overlay3 {
  
  background: url("../Images/Divisions/tfm.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  padding:10px;
}

.card:hover .card-overlay1 {
  opacity: 1;
}
.card:hover::before {

    content:none;
}
.card:hover::after 
{
    content:none;
}
.card:hover .card-overlay2 {
  opacity: 1;
}
.card:hover .card-overlay3 {
  opacity: 1;
}
.card:hover .item--meta
{
    opacity:1;
    transform: perspective(500px)rotateX(0);
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  transition-delay: .2s;
}


.more-plus {
  height: 57px;
  width: 57px;
  line-height: 57px;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 57px;
  -khtml-border-radius: 57px;
  -moz-border-radius: 57px;
  -ms-border-radius: 57px;
  -o-border-radius: 57px;
  border-radius: 57px;
  font-size: 22px;
  font-weight: 500;
  color: #1a1a1a;
  font-family: poppins,sans-serif;
  display: inline-block;  
}

.item--meta
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0,0,0,0.6);
  padding: 20px;
  color:white;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: all 300ms linear 0ms;
  -khtml-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  opacity: 0;
  -webkit-transform: perspective(500px)rotateX(-90deg);
  -khtml-transform: perspective(500px)rotateX(-90deg);
  -moz-transform: perspective(500px)rotateX(-90deg);
  -ms-transform: perspective(500px)rotateX(-90deg);
  -o-transform: perspective(500px)rotateX(-90deg);
  transform: perspective(500px)rotateX(-90deg);
}
.item--meta .item--title
{
  font-size: 22px;
  margin-bottom: 21px;
  color: #fff;
}
.item--title a
{
  color:white;
}
/****All Services section****/
/**brochure section**/
.ct-cta1
{
  border-radius: 7px;
    background-color: #0e0e0e;
    padding: 13px 59px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ct-cta1 .item--holder {
  flex-grow: 1;
  margin-right: 30px;
}
.ct-cta1>div {
  margin: 10px 0;
}
.ct-cta1 .item--holder .item--title {
  font-family: poppins,sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.ct-cta1 .item--holder .item--desc {
  font-size: 18px;
  color: #c6c6c6;
  font-weight: 300;
}
.ct-cta1 .btn {
  padding: 0 42px;
  line-height: 55px;
  font-size: 15px;
}
/**brochure section**/
/***team section ***/
.team
{
  padding-bottom:50px;
   
   
}
 .borderclass
 {
   
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
.borderclass img
{
  padding:10px;
  height:246px;
}
 
.share-icon span
{
  border-color: #fff !important;
    background-color: #d83030;
    display: block;
    position: absolute;
    top: 206px;
    right: 71px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    line-height: 39px;
    text-align: center;
    font-size: 12px;
    border: 4px solid;
    z-index: 3;
}
.share-icon span i
{
  color:white;
}
.borderclass:hover + .team-social1 {
  display: block;
}
 
.fa-share-alt
{
font-size:15px;
padding:10px;
}
.team-social1
{
  display: none;
    position: absolute;
    bottom: 226px;
    right: 73px;
    z-index: 2;
}
.team-social1 ul
{
  position:absolute;
  right:0;
  background-color: rgba(0,0,0,.7);
   width:45px;
   padding-top: 21px;
    padding-bottom: 26px;
    border-radius: 45px 45px 0 0;
}
.team-social1 li  
{
  list-style: none;
  display:block;
  margin:0 0 5px -38px;
  float:none;
}
.team-social1 li a
{
  text-decoration:none;
  width: 45px;
    height: 30px;
    line-height: 30px;
    display: block;
    position: relative;
    z-index:1;
    cursor:pointer;
}
/***team section ***/
/***client section ***/
.Clientsection 
{
position: inherit;
height:50vh;
}
#owl-demo
{
  margin:50px 0px 120px 30px;
  padding:30px 0px 10px 30px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 50%;
  height: 90px;
}
/***client section ***/
    /***footer**/
  
.footer-site {
  position:relative;
  bottom:0;
  left:0;
  width: 100%;
  color: #fff;
  /* padding: 7rem 0; */
  background-color: #141d2a;
}

.footer-site .container {
  position: relative;
}
.footer-site h2
{
  font-size:2em;
}
.footer-site h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;
}

.footer-site .links li {
  margin-bottom: 10px;
  line-height: 1.5;
  display: block;
}

.footer-site .links li a {
  color: #a7a7aa;
}

.footer-site .links li a:hover {
  color: #f36c70;
}

.footer-site .social li {
  display: inline-block;
  position: relative;
}

.footer-site .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #f36c70;
  color: #fff;
}

.footer-site .social li a>span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-site .footer-logo {
  color: #fff;
  font-size: 20px;
}

.footer-site .copyright {
  color: #666873;
}
/** rgba(52, 58, 64, 0.2) ee2e34 **/
.footer-site .cta {
  -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  padding: 20px 10px 20px 10px !important;
  background-color: #f36c70;
  top: -60px;
  position: relative;
}

.footer-site .cta h2,
.footer-site .cta h3 {
  line-height: 1.5;
}

.footer-site .cta h3 {
  font-size: 20px;
}

    /**footer**/

    /**services pages**/
    /****solar division***/
/* .solarsection
{
  padding:70px;
} */
 .solar-heading
 {
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 12px;
  text-align: left;
  color:#333;
  font-family: Fira Sans;
  font-style: normal !important;
  font-weight: 700;
 }
 .solar-desc
 {
  font-size: 16px;
  line-height: 37px !important;
   
  text-align: left;
  color:#464646;
  line-height:2rem;
 }
 .solar-desc p
 {
   font-size:1.15em !important;
   line-height: 1.7;text-align: justify;
   word-break:break-all;
 }
 .solar-desc ul
 {
   margin:0px 10px 0px 20px;
 }
 .solarimg
 {
   height:400px;
   width:710px;
 }
 .divlists
 {
   list-style: none;
 }
 .divlists li
 {
  display: block;
  position: relative;
  list-style: none;
  margin: 0 0 9px 0;
  padding: 0;
 }
 
 .divlists li a
 {
   text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #032e42;
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #e6e6e6;
  position: relative;
    display: block;
    margin: 0;
    padding: 14px 22px;
    border: 2px solid #e6e6e6;
 }
  
 .divlists li:hover a {
  /* background-color: #d83030;
  color: #fff;
  border-color: #d83030; */
   
  background-color: #e89999;
  color: #fff;
  border-color: #e89999;
  }
  .divlists   li .active{
    background-color: #e89999;
    color: #fff;
    border-color: #e89999;
    }
  .divlists li a:before {
    content: '\f054';
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 19px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-style: normal;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .callusbox
  {
    background-color: #2d2d2f;
    background-image: url(../Images/Divisions/service-single-contactbox.jpg);
    background-position: center center;
    background-size: cover;
    padding:25px;
  }
  .infobox
  {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom:22px;
  }
  .infobox-content
  {
    color:white;
    flex-direction: column;
    text-align: center;
  }
  .info-box-title
  {
    font-size: 21px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align:center;
  }
  .info-box-no
  {
    color: #f3a712 !important;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    text-align:center;
  }
  .infobox-content a
  {
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
    color:white;
    text-align:center;
  }
.div-nav-tabs ul
  {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
  }
  .div-nav-tabs ul li
  {
    /* padding: 10px 20px; */
    margin: 0;
    border-style: solid;
    border-width: 0;
    
    font-weight: 700;
    color: #032e42;
}
.nav-link{
  color:#fff !important;
}
 .nav-link:hover,.nav-link:active
 
 {
   color:#e89999 !important;
 }
  .nav-tabs .nav-link.active  { 
    
    background-color: #d83030 !important;
    color: #fff !important;
    border-color: #d83030 !important;
    }
    .tab-content .active
    {
      color:#383838  !important;
    }
    .card-body h5,.card-body p
    {
      color:#383838 !important;
    }
    /***tfm section ***/
    .tfmimg1
    {
      width:350px;
    }
    .tfmimg2
    {
      width:100%;
      height:410px
    }
    .table-dark {
 
      color: #fff;
     
        background-color: rgb(0, 36, 60)
     
    }
    .table-bordered td, .table-bordered th 
    {
      border: 1px solid #bbb !important;
    }
    /***SYSTEM Integration **/
    .system-area .slick-slide img{
      width:400px !important;
    }
    .system-area h4{
      font-size:1.25rem !important;
      color:rgb(232, 153, 153);
    }
    .profile
    {
      padding:0px 20px;
    }
    /***team section****/
    .single-team{
      box-shadow:0px 7px 7px 2px rgba(0,0,0,0.1);
        background-color: white;
        margin-bottom: 10px;
    }
    .img-area{
      overflow: hidden;
      position: relative;
  }
  .img-area img{
      width: 100%;
      text-align: center;
  }
  .img-area:hover img{
      transform: scale(1.2);
  }
  .img-area img{
      transition: all 0.4s ease 0s;
  }
  .img-area .desc  {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    text-align: left;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
   padding:10px;
   font-size:15px;
}
.single-team:hover .desc  {
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
  color:#fff;
}
.img-text{
  padding: 20px;
  color: black;
  text-align: center;
}
.img-text h4{
  margin: 0 0 5px;
  font-size: 18px;
  
  
}
.img-text h5{
  font-size: 15px;
  color: #545154

}
.tab-pane img{
  width: 100%;
  height: 60%;
}
/***contact section **/
.contact
 {
    
   padding:70px;
 }
 input[type=submit] {
  padding: 14px 35px;
  margin: 30px 0 0;
  color: #fff;
  background-color: #d83030;
}
.locdetails
{
  background-color: #33383e;
    background-image: url("../Images/Pages/contactbg.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    height:640px;
    padding:50px;
    color:white;
}
.icon-holder
{
  background-color:#d83030;
  height: 40px;
  width: 40px;
  transform: rotate(0deg);
border-radius:100%;
}
.fa-map-marker,.fa-phone-alt 
{
  
  padding: 14px;
  font-size: 16px;
}
.color-yellow
{
  background-color:#f3a712 !important;
}
.color-blue
{
  background-color: #235789  !important;
}
.greyfont
{
  color:#bbb;
}
.blackfont
{
  color:#333;
}
.contact-map
{
height:400px;
}
.contact h2
{
  font-size:2em !important;
}
/**contact section **/

/**scroll section ***/#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: hsla(5, 76%, 62%, .8)
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

#navbarNav.collapse.in
{
    position: fixed !important;
    right: 0 !important;
    top:80px;
    background-color: #e89999 !important;
    z-index:9999;
}
.item---title  
{
  font-size:1.75em;
}
/*** media query for top bar for devices from tablets to 13 inch notebook**/
@media (min-width: 481px) and (max-width: 768px)  
 {
  h6{
    font-size: 23px !important;
      }
  .ct-header-mobile .ct-header-info-item .h-item-meta
  {
 color:white !important;
  }
  .ct-header-holder .ct-header-info-item {
    margin-left: 0px !important;
    padding-left: 2 px !important;
    position: relative;
    padding-right:10px;
}
   .ct-banner2 .ct-banner-holder
   {
    padding: 20px 8px 20px;
    margin-left:0px;
    margin-right:0px;
   }
   .aboutus-section
   {
    padding: 45px 0px 35px 0px
   }
   .ct-info
   {
    padding:0 100px 0 100px;
    text-align: justify;
    font-size:15px;
   }
   .counter-icon 
   {
     margin-bottom:20px;
     margin-top: 20px !important;
   }
   .services p 
   {
    font-size: 1.1rem !important;
    text-align: justify !important;
    line-height: 1.7;
   }
   .teamsection .our-team
   {
     margin:0px !important;
   }
   .teamsection h4
   {
     padding-left:35px !important;
   }
   .our-team .title{
     font-size:12px;
   }
   .our-team .post
   {
    font-size:12px;
    font-weight:500;
   }
   .heading 
   {
    font-size:25px;
   }
   .item---title  
   {
     font-size:1.25em;
   }
   .item--title  
   {
     font-size:1.75em;
   }
   .rs-count, .plus 
   {
    font-size:35px;
   }
   .title-heading {
     font-size:1.75em !important; 
   }
   .footer-site h2
   {
    font-size:1.5rem !important; 
   }
   .footer-site h3 
   {
     font-size:10px;
   }
   .footer-site .links li a 
   {
     font-size:0.65rem !important;
   }

   .footer-site .social li a
   {
     width:50px;
   }
   .footer-site .social li a span{
     font-size:20px !important;
   }
   .carousel-item{
     margin-top:60px !important;
   }
   .carousel-caption h2
   {
     font-size:1.5em;
   }
   .carousel-caption h1 {
    font-size: 2.25rem;
    font-weight: 600;
    padding-top: 0px;
   }
   .aboutus-section p{
    line-height: 1.7;
    font-size: 1.1rem;
    text-align: justify;
   }
   .aboutus-section h5
  {
    font-size:1.3em;
  }
  .ct-banner-title
  {
    font-size:1.25rem;
  }
  .title-desc {
    font-size: 1.25rem !important;
}
/**all services section ***/
.img-content img{
  height:50vh !important;
}
.title-heading-services
{
  font-size:2em !important;
  font-weight: 600;
}
.title-desc-services
{
  font-size: 1.4rem !important;
  line-height: 2 !important;
  text-align: justify !important;
}
/**All services section ***/
.services1
{
  margin-top:1em !important;
}
.card-title
{
  font-size:1.45em !important;
  font-weight: 800;
  text-transform: uppercase;
}
.card-text
{
  line-height: 1.5;
    font-size: 1.3rem;
    font-weight: 400;
}
.divlists li a:before {
  margin-right:0px !important;
}
 }
/**end All Services section 
 }
/**small size devices***/
 @media only screen and (max-width: 575px) {

 h6{
font-size: 21px !important;
  }
  .carousel-caption,.carousel-caption-left,.carousel-caption-right,.carousel-caption-center {
    transform: translateY(-50%) !important;
    bottom:initial !important;
    top:50% !important;
    font-size:2.5em !important;
    /* top: 30%;
    bottom: auto;
    font-size:30px !important; */
}
.aboutus-section h3 {
  font-size: 16px !important;
  margin-bottom: 0px !important;
  font-weight: 600 !important;
}
  
.carousel-item  img {
  height: auto;
  width: 100%;
  height: 50vh;
}
.img-gradient:after,.img-gradient1:after {
  content:'';
  position:absolute;
  right:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient( rgba(0, 0, 0, 0.5) 50%, transparent 100%)!important; /* FF3.6+ */
  background: -webkit-gradient(color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5)))!important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 50%, transparent 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient( rgba(0, 0, 0, 0.5) 50%, transparent 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.5) 50%, transparent 100%) !important; /* IE10+ */
  background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, transparent 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ) !important; /* IE6-9 */
}
 
 
 

.carousel-item {
  
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

    
    /* color: rgb(3, 46, 66); */
    
 
 /*abouts us banner **/

 /**carousel **/
 
 /**carousel**/
.heading{
  font-size:25px !important;
}
.title-heading
{
  font-size:1.25rem !important;
  font-weight:600;
}
.title-desc {
 
  font-size: 0.95rem !important;
  line-height: 1.7;
  text-align: justify;
  letter-spacing: -0.9px;
}
.services .card
{
     
    box-shadow: 0 2px 5px 0 
    rgba(0, 0, 0, 0.5), 0 
    2px 10px 0 rgba(0, 0, 0, 1);
    margin:10px 10px

}
 .ct-banner-desc 
 {
  line-height: 19px !important;
  font-size: 11px !important;
 }
 .aboutus-section
 {
   padding:5px 0px 5px 0px !important;
   margin-top:1rem !important;
 }

 .ct-banner2 .ct-banner-image {
  padding-left: 25px !important;
  padding-top: 25px !important;
  position: relative;
  z-index: 1;
}
.ct-banner2 .ct-banner-holder 
{
   
    padding: 40px 27px 20px !important;
    background-color: #fff !important;
     
    margin-right: 0px !important;
    margin-left: 15px !important;
     
}
 
  .ct-banner-title {
    font-size: 1rem !important;
    font-weight: 600;
}
 .ct-banner-image
 {
   margin-top:30px;
 }
/* .heading {
  font-size: 21px !important;
} */
.aboutus-section  h3
{
  font-size:1rem;
  font-weight:500;
}
.aboutus-section  p
{
  font-size:0.95rem;  
  text-align: justify;
  font-weight:300;
  line-height:1.7;
}
.item--title  {
   
  font-size: 19px !important;
  margin-bottom: 28px !important;
  font-weight: 600 !important;
}
.aboutus-section h3  {
   
  font-size: 19px;
  margin-bottom: 28px ;
  font-weight: 600 ;
}
 .ct-banner2 .ct-banner-holder{
  padding: 40px 10px 20px !important;
 }

/*Counter***/
.ct-info {
   padding: 0% 2% 0% 4% !important;  
  font-size: 16px !important;
  line-height: 29px !important;
  text-align: left !important;
}
.rs-count, .plus {
  font-size: 32px !important;
}
.counter-icon img {
  width: 56px !important;
  height: 56px  !important;
}
.services .card::after
{
  content: '';
  height: 0px !important;
   
 
}
.services .card:hover
{
  cursor:pointer !important;
}
.card-text
{
text-align:left !important;
}
.card-text {
  line-height: 1.7 !important;
  font-size:0.9rem !important;
  text-align:justify !important;
}
.services1  .card-text
{
  line-height: 1.8 !important;
  font-size:15px !important;
   
   text-align:left !important;
 word-break:break-all;
}
 .item--title a
 {
   font-size:14px !important;
 }
 .footer-site h2
 {
   font-size:1.2em !important;
 }
 .footer-site {
  
  padding: 2rem 2rem !important;
 }
 figure img{
   padding:30px !important;
 }
 .mobile-margin-services
 {
  margin-bottom: 2rem!important ;
  margin-top: 2rem!important  ;
 }
 .mobile-margin-counter
 {
  margin-bottom: 2rem!important ;
  margin-top: 2rem!important  ;
 }
 .img-content img{
  height:40vh !important;
}
.banner-content h1
{
  font-size:50px !important;
}
.services1
{
  margin-top:1em !important;
} 
.services1 .card
{
  padding:10px 5px 10px 5px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .55s ease-in-out;
  /* border:2px solid #f36c70 !important;
  box-shadow:none; */
}
.card-img-overlay {
  top:0px !important;
  padding:0px !important;
}
.div-nav-tabs ul li
  {
    width:100% !important;
    padding:20px;
  }
  .div-nav-tabs ul li a{
    color:#f36c70 !important;
    background:#dddddd;
  }
}
 
.divisions .card-title{
  line-height: 1.5 !important;
    font-size: 1em !important;
    font-weight: 800 !important;
}
.divisions p
{
  text-align: justify;
  line-height:1.5;
  font-size: 1em !important;
}
 

  